<form [formGroup]="notificationForm" (ngSubmit)="onSubmit()">
  <label for="firstName">First Name</label>
  <input type="text" id="firstName" formControlName="firstName" required>

  <label for="lastName">Last Name</label>
  <input type="text" id="lastName" formControlName="lastName" required>

  <label for="email">Email</label>
  <input type="email" id="email" formControlName="email" >

  <label for="phoneNumber">Phone Number</label>
  <input type="text" id="phoneNumber" formControlName="phoneNumber" >

  <label for="supervisorDTO">Supervisor</label>
  <select id="supervisorDTO" formControlName="supervisorId" required>
    <option [ngValue]="null" disabled>Select Supervisor</option>
    <option *ngFor="let supervisor of supervisors" [ngValue]="supervisor">{{supervisor.jurisdiction}} - {{ supervisor.firstName }}, {{ supervisor.lastName }}</option>
  </select>

  <button type="submit">Send Notification</button>
</form>
